*{
    background: #cacaca;
    margin: 0px;
    padding: 0px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blue-btn{
    background: rgb(45, 125, 246);
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 0px;
}

.heading{
    margin: 50px;
}

.practice-mode{
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
}

.quiz-mode{
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
}

.train-model{
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
}

.desc{
    background: white;
    margin: 10px;
}

